<template>
  <div>

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999">
      <div v-if="msgLoad" class="toast show" role="alert">
        <div class="toast-body">
          {{ msgLoad }}
        </div>
      </div>

      <div v-if="msgSave" class="toast show" role="alert">
        <div class="toast-body">
          {{ msgSave }}
        </div>
      </div>
    </div>

    <CvEdit @cv-saving="showInfoSave" @cv-saved="showSuccessSave" @cv-save-error="showErrorSave"
            @cv-loading="showInfoLoad" @cv-loaded="showSuccessLoad" @cv-load-error="showErrorLoad"></CvEdit>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import CvEdit from '@/components/CvEdit.vue';
import _debounce from 'lodash.debounce';

@Options({
  components: {
    CvEdit
  }
})
export default class EditCv extends Vue {
  msgLoad: string = ''
  msgSave: string = ''

  private clearMsgLoad = _debounce(() => {
    this.msgLoad = '';
  }, 2000);

  private clearMsgSave = _debounce(() => {
    this.msgSave = '';
  }, 2000);

  showInfoLoad() {
    this.setMsgLoad('CV-ul se încarcă...');
    this.clearMsgLoad.cancel();
  }

  showSuccessLoad() {
    this.setMsgLoad('CV-ul a fost încărcat cu succes.');
  }

  showErrorLoad(e: any) {
    this.setMsgLoad('CV-ul nu a putut fi încărcat!');
    console.log(e);
  }

  showInfoSave() {
    this.setMsgSave('CV-ul se salvează...');
    this.clearMsgSave.cancel();
  }

  showSuccessSave() {
    this.setMsgSave('CV-ul a fost salvat cu succes.');
  }

  showErrorSave(e: any) {
    this.setMsgSave('CV-ul nu a putut fi salvat!');
    console.log(e);
  }

  private setMsgLoad(msgLoad: string) {
    this.clearMsgLoad.cancel();
    this.msgLoad = msgLoad;
    this.clearMsgLoad();
  }

  private setMsgSave(msgSave: string) {
    this.clearMsgSave.cancel();
    this.msgSave = msgSave;
    this.clearMsgSave();
  }
}
</script>

<style lang="scss" scoped>

</style>
