<template>
  <div>
    <div v-if="state !== 'loading'">
      <div class="row">
        <!--suppress JSUnusedLocalSymbols -->
        <!-- TODO: Show import labels only for criteria that the current user has completed at least one of -->
        <div class="col-12" v-for="(_, key) of selectedImportKeys">
          <div class="form-check" v-if="!!criteriaDescriptions[key]">
            <input class="form-check-input" type="checkbox" v-model="selectedImportKeys[key]"
                   :id="`import-type-${key}`">
            <label :for="`import-type-${key}`" class="form-check-label">
            <span class="d-block" v-for="desc of criteriaDescriptions[key]">
              {{ desc }}
            </span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button @click="doImport" :disabled="state !== 'ready'" class="btn btn-primary">Import</button>
          <div :class="{'d-none': state !== 'in-progress'}">Se importă datele...</div>
          <div :class="{'d-none': state !== 'done'}">Datele au fost importate cu success.</div>
        </div>
      </div>
    </div>

    <div v-if="state === 'loading'">
      Se încarcă criteriile...
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {ComputedRef} from "vue";
import {SchemaType} from '@/types/SchemaType';
import {Cv} from '@/types/Cv/Cv';
import SchemaService from '@/services/SchemaService';
import CvService from '@/services/CvService';
import SchemaUtils from '@/services/SchemaUtils';
import ImportService from "@/services/ImportService";
import {CvItemExtra} from "@/types/Cv/Sections/CvSectionExtra";
import * as uuid from "uuid";
import _merge from 'lodash.merge'
import {id} from "@/utils/utils";

@Options({
  inject: ['schema', 'cv']
})
export default class Import extends Vue {
  schema!: ComputedRef<SchemaType>
  cv!: ComputedRef<Cv>

  schemaService = new SchemaService()
  cvService = new CvService()
  importService = new ImportService()
  state: "loading" | "ready" | "in-progress" | "done" = "loading"

  private selectedImportKeys: { [k: string]: boolean } = Object.keys(ImportService.CnatdcuToCvMappings).sort().map(key => ({[key]: false})).reduce(_merge)
  private criteriaDescriptions: { [k: string]: string[]; } = {};

  // noinspection JSUnusedGlobalSymbols
  async beforeMount() {
    this.criteriaDescriptions = await this.importService.getCriteriaDescriptions();
    this.state = "ready";
  }

  async doImport() {
    this.state = "in-progress";

    const imports = await this.importService.postImport(this.schema.value, this.selectedImportKeys);
    // import only items that haven't been already imported
    this.cv.value.sections.extra.push(...imports.filter(imp => this.cv.value.sections.extra.find(item => item.univ.cnatdcu.id === imp.univ.cnatdcu.id) === undefined));

    this.state = "done";
  }
}
</script>

<style lang="scss" scoped>

</style>
