<template>
  <div class="width-a4">

    <div class="row">
      <div class="col-4">
        <h3 class="small-caps text-decoration-underline">Informații personale</h3>
      </div>
      <div class="col-8"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">
        <h4>{{ cv.value.sections.personalInfo.name }}</h4>

        <CvItemPrint>
          <div class="row">
            <div class="col">
              <font-awesome-icon fixed-width icon="map-marker"></font-awesome-icon>
              <a :href="`https://maps.google.com/?q=${cv.value.sections.personalInfo.address}`">
                {{ cv.value.sections.personalInfo.address }}
              </a>
            </div>
          </div>
        </CvItemPrint>

        <CvItemPrint>
          <div class="row">
            <div class="col">
              <font-awesome-icon fixed-width icon="phone"></font-awesome-icon>
              <a :href="`tel:${cv.value.sections.personalInfo.phone}`">{{ cv.value.sections.personalInfo.phone }}</a>
            </div>
          </div>
        </CvItemPrint>

        <CvItemPrint>
          <div class="row">
            <div class="col">
              <font-awesome-icon fixed-width icon="envelope"></font-awesome-icon>
              <a :href="`mailto:${cv.value.sections.personalInfo.email}`">{{ cv.value.sections.personalInfo.email }}</a>
            </div>
          </div>
        </CvItemPrint>

        <CvItemPrint>
          <div class="row">
            <div class="col">
              <font-awesome-icon fixed-width icon="link"></font-awesome-icon>
              <a :href="cv.value.sections.personalInfo.website" target="_blank">{{ cv.value.sections.personalInfo.website }}</a>
            </div>
          </div>
        </CvItemPrint>

        <CvItemPrint>
          <div class="row">
            <div class="col-4">
              <font-awesome-icon fixed-width icon="genderless"></font-awesome-icon>
              {{ getSexLongName(cv.value.sections.personalInfo.sex) }}
            </div>
            <div class="col-4">
              <font-awesome-icon fixed-width icon="calendar-day"></font-awesome-icon>
              {{ cv.value.sections.personalInfo.birthday }}
            </div>
            <div class="col-4">
              <font-awesome-icon fixed-width icon="globe"></font-awesome-icon>
              {{ cv.value.sections.personalInfo.nationality }}
            </div>
          </div>
        </CvItemPrint>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3 class="small-caps text-decoration-underline">Experiență Profesională</h3>
      </div>
      <div class="col-8"></div>
    </div>
    <div v-for="exp of experienceSortedByDate" class="row">
      <div class="col avoid-page-break">
        <CvItemPrint>
          <div class="row">
            <div class="col-4">
              <h5 class="small-caps">{{ exp.start }} &ndash; {{ exp.end ? exp.end : 'Prezent' }}</h5>
            </div>
            <div class="col-8">
              <h4>{{ exp.position }}</h4>
              <h5>{{ exp.company }}</h5>
            </div>
          </div>
        </CvItemPrint>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3 class="small-caps text-decoration-underline">Educație</h3>
      </div>
      <div class="col-8"></div>
    </div>
    <div v-for="edu of educationSortedByDate" class="row">
      <div class="col avoid-page-break">
        <CvItemPrint>
          <div class="row">
            <div class="col-4">
              <h5 class="small-caps">{{ edu.start }} &ndash; {{ edu.end ? edu.end : 'Prezent' }}</h5>
            </div>
            <div class="col-8">
              <h4>{{ edu.degree }}</h4>
              <h5>{{ edu.school }}</h5>
            </div>
          </div>
        </CvItemPrint>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3 class="small-caps text-decoration-underline">Abilități Personale</h3>
      </div>
      <div class="col-8"></div>
    </div>
    <div v-for="sk of cv.value.sections.skills" class="row">
      <div class="col avoid-page-break">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <CvItemPrint>
              {{ sk.skill }}
            </CvItemPrint>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3 class="small-caps text-decoration-underline">Publicații</h3>
      </div>
      <div class="col-8"></div>
    </div>
    <div v-for="ex of cv.value.sections.extra" class="row">
      <div class="col avoid-page-break">
        <CvItemPrint>
          <div class="row">
            <div class="col-4">
              <h5 class="small-caps">
                {{ SchemaUtils.getNameForItemType(schema.value, ex.itemType.type) }}
              </h5>
            </div>
            <div class="col-8">
              <div>
                <table class="table table-borderless table-sm">
                  <tbody>
                  <template v-for="({value}, key) of ex.fields">
                    <tr v-if="value">
                      <th class="col-4" scope="row">
                        {{
                          // noinspection JSCheckFunctionSignatures
                          SchemaUtils.getNameForField(schema.value, key)
                        }}
                      </th>
                      <td>{{ value }}</td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr>
        </CvItemPrint>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';

import {SchemaType} from "@/types/SchemaType";
import {Cv} from '@/types/Cv/Cv';
import {Sex} from "@/types/Cv/Sex";
import {CvItemExperience} from "@/types/Cv/Sections/CvSectionExperience";
import {CvItemEducation} from "@/types/Cv/Sections/CvSectionEducation";

import SchemaService from "@/services/SchemaService";
import SchemaUtils from "@/services/SchemaUtils";
import CvService from "@/services/CvService";
import CvItemPrint from '@/components/CvItemPrint.vue';
import {ComputedRef} from "vue";

@Options({
  components: {
    CvItemPrint
  },
  inject: ['schema', 'cv']
})
export default class PrintCv extends Vue {
  schema!: ComputedRef<SchemaType>
  cv!: ComputedRef<Cv>

  schemaService = new SchemaService()
  cvService = new CvService()

  SchemaUtils = SchemaUtils

  get experienceSortedByDate(): CvItemExperience[] {
    return this.cv.value.sections.experience.sort(PrintCv.compareFn);
  }

  get educationSortedByDate(): CvItemEducation[] {
    return this.cv.value.sections.education.sort(PrintCv.compareFn);
  }

  private static compareFn(a: { start: string }, b: { start: string }) {
    if (!a && !b)
      return 0;

    if (a && !b)
      return -1;

    if (!a && b)
      return 1;

    return (new Date(b.start).getTime() - new Date(a.start).getTime());
  }

  getSexLongName(s: Sex): string {
    switch (s) {
      case Sex.Unspecified:
        return 'Nespecificat';
      case Sex.M:
        return 'Masculin';
      case Sex.F:
        return 'Feminin';
    }
  }
}
</script>

<style lang="scss" scoped>
@media print {
  a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }
}

.width-a4 {
  width: 210mm;
}

h1, h2, h3, h4, h5, h6 {
  &.small-caps {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25rem;
    font-variant: small-caps;
  }
}

.avoid-page-break {
  break-inside: avoid;
}
</style>
