<template>
  <div>
<!--    <h5>Căutare</h5>-->
    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input id="s" v-model="search" class="form-control" placeholder="" type="text">
          <label for="s">Căutare</label>
        </div>
      </div>
    </div>

    <div v-for="item of filteredItems" class="row">
      <div class="col">
        <CvItem :item="item"></CvItem>
        <hr>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from "vue-class-component";

import {SchemaType} from "@/types/SchemaType";
import {Cv} from "@/types/Cv/Cv";

import CvItem from "@/components/CvItem.vue";
import SchemaUtils from "@/services/SchemaUtils";
import {computed, ComputedRef} from "vue";

@Options({
  components: {
    CvItem
  },
  inject: ['schema', 'cv'],
  provide() {
    return {
      schema: computed(() => this.schema.value),
      cv: computed(() => this.cv.value)
    }
  }
})
export default class Publications extends Vue {
  schema!: ComputedRef<SchemaType>
  cv!: ComputedRef<Cv>

  search: string = ''

  get filteredItems() {
    const s = this.search.toLowerCase();

    return this.cv.value.sections.extra.filter(item =>
        Object.values(item.fields).filter(field => field ? String.prototype.toLowerCase.call(field.value).includes(s) : false).length > 0 ||
        Object.values(item.creators).filter(creator => String.prototype.toLowerCase.call(creator.value).includes(s)).length > 0 ||
        item.tags.filter(tag => String.prototype.toLowerCase.call(tag).includes(s)).length > 0 ||
        SchemaUtils.getNameForItemType(this.schema.value, item.itemType.type).toLowerCase().includes(s)
    );
  }
}
</script>

<style lang="scss">

</style>
