<template>
  <div>
    <div class="row">
      <div class="col-lg-3">
        <nav id="navbar-left" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
          <a class="navbar-brand"><h3>CV</h3></a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#personal-info" @click="scrollToAnchorTarget">Informații personale</a>
            <a class="nav-link" href="#experience" @click="scrollToAnchorTarget">Experiență</a>
            <a class="nav-link" href="#education" @click="scrollToAnchorTarget">Educație</a>
            <a class="nav-link" href="#personal-skills" @click="scrollToAnchorTarget">Abilități Personale</a>
            <a class="nav-link" href="#publications" @click="scrollToAnchorTarget">Publicații</a>
            <nav class="nav nav-pills flex-column">
              <a v-for="(item, idx) of cv.value.sections.extra" class="nav-link ms-3 my-1" :href="`#cv-extra-${idx}`"
                 @click="scrollToAnchorTarget"
                 :class="{'bg-warning': item.univ.cnatdcu.$dirty && item.univ.cnatdcu.id !== 0, 'bg-danger': item.univ.cnatdcu.$dirty && item.univ.cnatdcu.id === 0}">
                {{
                  firstNonBlank(CvUtils.getNameForCvItemExtra(item), SchemaUtils.getNameForItemType(schema.value, item.itemType.type))
                }}
              </a>
              <div>
                <h4>Adaugă publicație</h4>
                <label>
                  <select ref="add-new-cv-item-select" class="form-select" @change="addNewCvItemExtra">
                    <option disabled selected value="">Selectează un item</option>
                    <option v-for="item of itemTypesSorted" :value="item.itemType">
                      {{ SchemaUtils.getNameForItemType(schema.value, item.itemType) }}
                    </option>
                  </select>
                </label>
              </div>
            </nav>
          </nav>
        </nav>
      </div>
      <div class="col-lg-9 position-relative" data-bs-spy="scroll" data-bs-target="#navbar-left" data-bs-offset="0">

        <h2>CV</h2>

        <div class="row" id="personal-info">
          <div class="col">
            <h3>
              Informații personale
            </h3>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-name" v-model="cv.value.sections.personalInfo.name"
                     class="form-control"
                     placeholder="" type="text">
              <label for="cv-personalInfo-name">Nume</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-address" v-model="cv.value.sections.personalInfo.address"
                     class="form-control"
                     placeholder="" type="text">
              <label for="cv-personalInfo-address">Adresă</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-phone" v-model="cv.value.sections.personalInfo.phone"
                     class="form-control"
                     placeholder="" type="tel">
              <label for="cv-personalInfo-phone">Telefon</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-email" v-model="cv.value.sections.personalInfo.email"
                     class="form-control"
                     placeholder="" type="email">
              <label for="cv-personalInfo-email">Email</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-website" v-model="cv.value.sections.personalInfo.website"
                     class="form-control"
                     placeholder="" type="url">
              <label for="cv-personalInfo-website">Website</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <select id="cv-personalInfo-sex" v-model="cv.value.sections.personalInfo.sex" class="form-select">
                <option disabled selected value="">Selectează sexul</option>
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
              <label for="cv-personalInfo-sex">Sex</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-birthday" v-model="cv.value.sections.personalInfo.birthday"
                     class="form-control"
                     placeholder="" type="date">
              <label for="cv-personalInfo-birthday">Data Nașterii</label>
            </div>
          </div>
          <div class="py-2">
            <div class="form-floating">
              <input id="cv-personalInfo-nationality" v-model="cv.value.sections.personalInfo.nationality"
                     class="form-control"
                     placeholder="" type="text">
              <label for="cv-personalInfo-nationality">Naționalitatea</label>
            </div>
          </div>
        </div>

        <div class="row" id="experience">
          <div class="col">
            <h3>
              Experiență
              <button class="btn btn-sm btn-link text-decoration-none text-primary" type="button"
                      @click="cvService.addNewExperience(cv.value)">
                <font-awesome-icon fixed-width icon="plus"></font-awesome-icon>
              </button>
            </h3>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div v-for="(exp, idx) of cv.value.sections.experience" class="col">
            <div class="card">
              <div class="card-header">
                <h4>{{ exp.company ? exp.company : 'Companie' }}</h4>
              </div>
              <div class="card-body">
                <div class="form-floating pb-1">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-experience-company-' + idx" v-model="exp.company"
                         class="form-control"
                         placeholder="" type="text">
                  <label :for="'cv-experience-company-' + idx">Companie</label>
                </div>
                <div class="form-floating pb-1">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-experience-position-' + idx" v-model="exp.position"
                         class="form-control"
                         placeholder="" type="text">
                  <label :for="'cv-experience-position-' + idx">Poziție</label>
                </div>
                <div class="form-floating pb-1">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-experience-start-' + idx" v-model="exp.start"
                         class="form-control"
                         placeholder="" type="date">
                  <label :for="'cv-experience-start-' + idx">Început</label>
                </div>
                <div class="form-floating">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-experience-end-' + idx" v-model="exp.end"
                         class="form-control"
                         placeholder="" type="date">
                  <label :for="'cv-experience-end-' + idx">Sfârșit</label>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-danger" type="button"
                        @click="cvService.removeExperience(cv.value, idx)">
                  Șterge
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="education">
          <div class="col">
            <h3>
              Educație
              <button class="btn btn-sm btn-link text-decoration-none text-primary" type="button"
                      @click="cvService.addNewEducation(cv.value)">
                <font-awesome-icon fixed-width icon="plus"></font-awesome-icon>
              </button>
            </h3>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div v-for="(edu, idx) of cv.value.sections.education" class="col">
            <div class="card">
              <div class="card-header">
                <h4>{{ edu.school ? edu.school : 'Instituție' }}</h4>
              </div>
              <div class="card-body">
                <div class="form-floating pb-1">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-education-school-' + idx" v-model="edu.school"
                         class="form-control"
                         placeholder="" type="text">
                  <label :for="'cv-education-school-' + idx">Instituție</label>
                </div>
                <div class="form-floating pb-1">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-education-degree-' + idx" v-model="edu.degree"
                         class="form-control"
                         placeholder="" type="text">
                  <label :for="'cv-education-degree-' + idx">Diplomă</label>
                </div>
                <div class="form-floating pb-1">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-education-start-' + idx" v-model="edu.start"
                         class="form-control"
                         placeholder="" type="date">
                  <label :for="'cv-education-start-' + idx">Început</label>
                </div>
                <div class="form-floating">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input :id="'cv-education-end-' + idx" v-model="edu.end"
                         class="form-control"
                         placeholder="" type="date">
                  <label :for="'cv-education-end-' + idx">Sfârșit</label>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-danger" type="button"
                        @click="cvService.removeEducation(cv.value, idx)">
                  Șterge
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="personal-skills">
          <div class="col">
            <h3>
              Abilități Personale
              <button class="btn btn-sm btn-link text-decoration-none text-primary" type="button"
                      @click="cvService.addNewSkill(cv.value)">
                <font-awesome-icon fixed-width icon="plus"></font-awesome-icon>
              </button>
            </h3>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div v-for="(sk, idx) of cv.value.sections.skills" class="col">
            <div class="card">
              <div class="card-body">
                <div class="form-floating">
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <textarea :id="'cv-skills-skill-' + idx" v-model="sk.skill"
                            class="form-control"
                            placeholder="" style="height: 6.8333rem"></textarea>
                  <label :for="'cv-skills-skill-' + idx">Descriere</label>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-danger" type="button"
                        @click="cvService.removeSkill(cv.value, idx)">
                  Șterge
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="publications">
          <div class="col">
            <h3>Publicații</h3>
          </div>
        </div>
        <div v-for="(item, idx) of cv.value.sections.extra" class="row" :id="`cv-extra-${idx}`">
          <div class="col">
            <CvItemExtraForm :item="item" :meta="SchemaUtils.getMetaForItemType(schema.value, item.itemType.type)"
                             @request-delete="removeCvItemExtra(item)"/>
            <hr>
          </div>
        </div>
        <datalist id="autocomplete-tags">
          <option v-for="tag of allCvTags" :value="tag"></option>
        </datalist>

      </div>
    </div>

    <button :disabled="dirtyItems.length === 0 || syncState === 'in-progress'" @click="sync"
            class="btn btn-primary btn-lg position-fixed" title="Sincronizează cu fișa CNATDCU"
            style="bottom: 4em; right: 4em; border-radius: 50%; width: 3em; height: 3em;">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ dirtyItems.length }}
      </span>
      <font-awesome-icon icon="sync"></font-awesome-icon>
    </button>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';

import {ItemTypes, SchemaType} from '@/types/SchemaType';
import {CvItemExtra} from '@/types/Cv/Sections/CvSectionExtra';
import {Cv} from '@/types/Cv/Cv';
import SchemaUtils from '@/services/SchemaUtils';
import CvService from '@/services/CvService';
import CvUtils from "@/services/CvUtils";
import {firstNonBlank} from "@/utils/utils"

import CvItemExtraForm from '@/components/CvItemExtraForm.vue';
import _debounce from 'lodash/debounce';
import {ComputedRef, watch, WatchStopHandle} from 'vue';
import ImportService from "@/services/ImportService";

@Options({
  components: {
    CvItemExtraForm
  },
  emits: ['cv-saving', 'cv-saved', 'cv-save-error', 'cv-loading', 'cv-loaded', 'cv-load-error'],
  inject: ['schema', 'cv']
})
export default class CvEdit extends Vue {
  schema!: ComputedRef<SchemaType>
  cv!: ComputedRef<Cv>

  SchemaUtils = SchemaUtils
  cvService = new CvService()
  importService = new ImportService()
  CvUtils = CvUtils
  firstNonBlank = firstNonBlank

  private watchStopHandle: WatchStopHandle | undefined

  private debouncedSaveCv: CallableFunction = _debounce(this.doSaveCv, 1000);
  private syncState: "ready" | "in-progress" | "success" | "error" = "ready";
  private skipDirtyFlags: { [guid: string]: boolean } = {};

  get itemTypesSorted() {
    return this.schema.value.itemTypes.sort((a, b) => {
      const aName = SchemaUtils.getNameForItemType(this.schema.value, a.itemType);
      const bName = SchemaUtils.getNameForItemType(this.schema.value, b.itemType);

      return aName.localeCompare(bName);
    });
  }

  get dirtyItems() {
    return this.cv.value.sections.extra.filter(item => item.univ.cnatdcu.$dirty)
  }

  get allCvTags() {
    return [...new Set(this.cv.value.sections.extra
        .flatMap(extra => extra.tags)
        .map(tag => tag.trim())
        .filter(tag => tag)
    )];
  }

  // noinspection JSUnusedGlobalSymbols
  async beforeMount() {
    watch(this.cv.value, this.saveCv, {deep: true});
    this.cv.value.sections.extra.forEach(item => {
      watch(item, current => {
        // don't mark dirty when we're clearing the dirty flag
        if (this.skipDirtyFlags[current.guid]) {
          // console.log("Skipping marking dirty item", current);
          this.skipDirtyFlags[current.guid] = false;
          return;
        }
        // console.log("Marking dirty item", current);
        current.univ.cnatdcu.$dirty = true;
      }, {deep: true})
    });
  }

  mounted() {
    this.initScrollSpy();
    this.watchStopHandle = watch(this.cv.value, () => this.refreshScrollSpy(), {deep: true});
  }

  // noinspection JSUnusedGlobalSymbols
  beforeUnmount() {
    /*Array.prototype.slice.call(document.querySelectorAll('[data-bs-spy="scroll"]')).forEach(el => {
      ScrollSpy.getInstance(el)?.dispose();
    });*/
    this.watchStopHandle && this.watchStopHandle();
  }

  private initScrollSpy() {
    /*Array.prototype.slice.call(document.querySelectorAll('[data-bs-spy="scroll"]')).forEach(el => {
      new ScrollSpy(document.body, {
        target: el
      });
    });*/
  }

  private refreshScrollSpy() {
    /*Array.prototype.slice.call(document.querySelectorAll('[data-bs-spy="scroll"]')).forEach(el => {
      ScrollSpy.getInstance(el)?.refresh();
    });*/
  }

  // noinspection JSMethodCanBeStatic
  private scrollToAnchorTarget(e: Event) {
    e.preventDefault();
    const targetId = (e.target as Element).getAttribute("href");
    const targetEl = document.querySelector(`${targetId}`) as HTMLElement;
    const top = targetEl.offsetTop;
    window.scrollTo({top, behavior: "smooth"});
  }

  addNewCvItemExtra(e: Event) {
    const target = e.target! as HTMLSelectElement;
    const itemType = target.value as keyof ItemTypes;
    const fields = SchemaUtils.getFieldsForItemType(this.schema.value, itemType);
    if (fields.length === 0)
      return;

    const creators = SchemaUtils.getCreatorTypesForItemType(this.schema.value, itemType);

    this.cvService.addNewExtra(this.cv.value, itemType, fields, [{type: creators[0], value: ''}]);
    (this.$refs['add-new-cv-item-select'] as HTMLSelectElement).value = '';
    this.$nextTick(() => {
      const nav = (this.$refs['add-new-cv-item-select'] as HTMLSelectElement).parentElement!.parentElement!.parentElement!.parentElement! as HTMLElement;
      const anchors = nav.querySelectorAll('a');
      // click the last element (i.e. the element that we just added
      anchors.item(anchors.length - 1).click();
    });
  }

  removeCvItemExtra(item: CvItemExtra) {
    this.cvService.removeExtra(this.cv.value, item);
  }

  saveCv() {
    this.debouncedSaveCv();
  }

  async doSaveCv() {
    this.$emit('cv-saving');
    try {
      await this.cvService.save(this.cv.value);
      this.$emit('cv-saved');
    } catch (e) {
      this.$emit('cv-save-error', e);
    }
  }

  private async sync() {
    this.syncState = 'in-progress';
    try {
      const dirtyItems = this.dirtyItems;
      await this.importService.patchSync(dirtyItems);
      dirtyItems.forEach(item => {
        this.skipDirtyFlags[item.guid] = true;
        item.univ.cnatdcu.$dirty = false;
      });
      this.syncState = "success";
    } catch {
      this.syncState = 'error';
    }
  }
}
</script>
