<template>
  <div>
    <h5>{{ SchemaUtils.getNameForItemType(schema.value, item.itemType.type) }}</h5>
    <h6>Creatori</h6>
    <table class="table table-borderless table-sm">
      <tbody>
      <template v-for="creator of item.creators">
        <tr v-if="creator.value">
          <th class="col-4" scope="row">
            {{
              SchemaUtils.getNameForCreatorType(schema.value, creator.type)
            }}
          </th>
          <td>{{ creator.value }}</td>
        </tr>
      </template>
      </tbody>
    </table>

    <h6>Detalii</h6>
    <table class="table table-borderless table-sm">
      <tbody>
      <template v-for="(field, key) of item.fields">
        <!--suppress JSUnresolvedVariable -->
        <tr v-if="field.value">
          <th class="col-4" scope="row">
            {{
              // noinspection JSCheckFunctionSignatures
              SchemaUtils.getNameForField(schema.value, key)
            }}
          </th>
          <!--suppress JSUnresolvedVariable -->
          <td>{{ field.value }}</td>
        </tr>
      </template>
      </tbody>
    </table>

    <h6>Etichete ({{ item.tags.length }})</h6>
    <div>{{ item.tags.join(', ') }}</div>

    <h6>Publicații Asociate ({{ item.related.length }})</h6>
    <div>{{ item.related.map(guid => CvUtils.getNameForGuid(cv.value, guid)).join(', ') }}</div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {CvItemExtra} from '@/types/Cv/Sections/CvSectionExtra';
import SchemaUtils from "@/services/SchemaUtils";
import {SchemaType} from "@/types/SchemaType";
import {ComputedRef} from 'vue';
import {Cv} from "@/types/Cv/Cv";
import CvUtils from "@/services/CvUtils";

@Options({
  props: {
    item: Object
  },
  inject: ['schema', 'cv']
})
export default class CvItem extends Vue {
  schema!: ComputedRef<SchemaType>
  cv!: ComputedRef<Cv>
  item!: CvItemExtra

  SchemaUtils = SchemaUtils
  CvUtils = CvUtils
}
</script>

<style lang="scss" scoped>

</style>
