<template>
  <div class="d-flex flex-row position-relative">
    <div class="d-print-none me-2 position-absolute" style="left: -2rem; top: -0.125rem">
      <button :class="printVisible ? 'btn-outline-primary' : 'btn-outline-danger'"
              class="btn btn-sm px-1 py-0"
              type="button" @click="togglePrintVisibility">
        <font-awesome-icon v-if="printVisible" fixed-width icon="check" size="xs"></font-awesome-icon>
        <font-awesome-icon v-if="!printVisible" fixed-width icon="times" size="xs"></font-awesome-icon>
      </button>
    </div>
    <div class="flex-grow-1">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';

@Options({})
export default class CvItemPrint extends Vue {
  printVisible: boolean = true;

  togglePrintVisibility() {
    this.printVisible = !this.printVisible;
    this.$el.classList.toggle('d-print-none', !this.printVisible);
  }
}
</script>

<style lang="scss" scoped>

</style>
