<template>
  <div>
    <h4>
      <button :aria-controls="`collapse-${$.uid}`" :data-bs-target="`#collapse-${$.uid}`"
              aria-expanded="true" class="btn btn-sm btn-link text-decoration-none text-secondary"
              data-bs-toggle="collapse" type="button">
        <font-awesome-icon v-if="!collapsed" class="fw-light" fixed-width icon="angle-down"></font-awesome-icon>
        <font-awesome-icon v-if="collapsed" fixed-width icon="angle-right"></font-awesome-icon>
      </button>
      <span
          :class="{'bg-warning': item.univ.cnatdcu.$dirty && item.univ.cnatdcu.id !== 0, 'bg-danger': item.univ.cnatdcu.$dirty && item.univ.cnatdcu.id === 0}">
        <template v-if="title">{{ title }}</template>
        <template v-else>{{ meta.itemType.name }}</template>
      </span>
      <button class="btn btn-sm btn-link text-danger text-decoration-none" type="button"
              @click="$emit('request-delete')">
        <font-awesome-icon class="fa-xs" fixed-width icon="times"></font-awesome-icon>
      </button>
    </h4>
    <div :id="`collapse-${$.uid}`" ref="collapse" class="collapse show">
      <h5>
        Creatori
        <!--suppress JSCheckFunctionSignatures -->
        <button class="btn btn-sm btn-link text-decoration-none text-primary" type="button"
                @click="item.creators.push({type: Object.keys(meta.creators)[0], value: ''})">
          <font-awesome-icon class="fa-xs" fixed-width icon="plus"></font-awesome-icon>
        </button>
      </h5>
      <div class="row">
        <div v-for="(creator, idx) of item.creators" class="col-sm-12 col-md-6 py-2">
          <div class="input-group">
            <!--suppress HtmlFormInputWithoutLabel -->
            <select v-model="item.creators[idx].type" class="form-select">
              <option v-for="({name}, type) of meta.creators" :value="type">
                {{ name }}
              </option>
            </select>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input :id="`${creator.type}-${$.uid}-${idx}`" v-model="creator.value" class="form-control" placeholder=""
                   type="text">
            <button class="btn btn-outline-danger" type="button" @click="item.creators.splice(idx, 1)">
              <font-awesome-icon class="fa-xs" fixed-width icon="times"></font-awesome-icon>
            </button>
          </div>
        </div>
      </div>

      <h5>Câmpuri</h5>
      <div class="row">
        <div v-for="(field, key) of item.fields" class="col-sm-6 col-md4 col-lg-4 py-2">
          <div class="form-floating">
            <!--suppress HtmlFormInputWithoutLabel, JSUnresolvedVariable, JSCheckFunctionSignatures -->
            <input @change="fieldValueChanged(key)" @input="fieldValueChanged(key)" :ref="key" :id="`${key}-${$.uid}`"
                   v-model="field.value" :type="meta.fields[key].type ?? 'text'" class="form-control"
                   :pattern="meta.fields[key].pattern" placeholder=""
                   :list="autocomplete[key] ? `${key}-${$.uid}-autocomplete` : null">
            <label :for="`${key}-${$.uid}`">{{ meta.fields[key].name }}</label>
            <datalist v-if="autocomplete[key]" :id="`${key}-${$.uid}-autocomplete`">
              <option v-for="auto of Object.keys(autocomplete[key])" :value="auto"></option>
            </datalist>
          </div>
        </div>
      </div>

      <h5>
        Etichete
        <button class="btn btn-sm btn-link text-decoration-none text-primary" type="button"
                @click="item.tags.push('')">
          <font-awesome-icon class="fa-xs" fixed-width icon="plus"></font-awesome-icon>
        </button>
      </h5>
      <div class="row">
        <!--suppress JSUnusedLocalSymbols -->
        <div v-for="(tag, idx) of item.tags" class="col-sm-6 col-md-4 col-lg-4 py-2">
          <div class="input-group">
            <!--suppress HtmlFormInputWithoutLabel, XmlInvalidId -->
            <input :id="`tag-${idx}-${$.uid}`" v-model="item.tags[idx]"
                   class="form-control" list="autocomplete-tags" placeholder="" type="text">
            <button class="btn btn-outline-danger" type="button" @click="item.tags.splice(idx, 1)">
              <font-awesome-icon class="fa-xs" fixed-width icon="times"></font-awesome-icon>
            </button>
          </div>
        </div>
      </div>

      <h5>
        Publicații Asociate
        <button class="btn btn-sm btn-link text-decoration-none text-primary" type="button"
                @click="item.related.push('')">
          <font-awesome-icon class="fa-xs" fixed-width icon="plus"></font-awesome-icon>
        </button>
      </h5>
      <div class="row">
        <div v-for="(related, idx) of item.related" class="col-sm-6 col-md-4 col-lg-4 py-2">
          <div class="input-group">
            <select @change="e => relatedChanged(e, idx)" class="form-select">
              <option disabled selected value="">Selectează o publicație</option>
              <option v-for="guid of allGuids" :value="guid" :selected="related === guid">
                {{ CvUtils.getNameForGuid(cv.value, guid) }}
              </option>
            </select>

            <button class="btn btn-outline-danger" type="button" @click="e => removeRelated(e, idx)">
              <font-awesome-icon class="fa-xs" fixed-width icon="times"></font-awesome-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {CvItemExtra, CvItemExtraMeta} from '@/types/Cv/Sections/CvSectionExtra';
import {ComputedRef, watch} from 'vue';
import {Fields, SchemaType} from '@/types/SchemaType';
import {Cv} from '@/types/Cv/Cv';
import CvUtils from "@/services/CvUtils";
import {fetch2, firstNonBlank} from "@/utils/utils";
import _debounce from "lodash.debounce";
import _merge from "lodash.merge"
import Constants from "@/Constants";

type AutocompleteType = Partial<{
  [k in keyof Fields]: {
    [k: string]: Partial<{
      [k in keyof Fields]: string
    }>
  }
}>;

@Options({
  props: {
    item: Object,
    meta: Object
  },
  inject: ['schema', 'cv'],
  emits: ['request-delete']
})
export default class CvItemExtraForm extends Vue {
  schema!: ComputedRef<SchemaType>
  cv!: ComputedRef<Cv>

  item!: CvItemExtra
  meta!: CvItemExtraMeta

  CvUtils = CvUtils

  autocompleteUrls: Partial<{ [k in keyof Fields]: string }> = {}
  autocomplete: AutocompleteType = {}

  private collapsed = false

  private MAX_AUTOCOMPLETE_ITEMS = 20;
  private static BASE_URL = `${Constants.API_BASE_URL}`;

  get title() {
    return firstNonBlank(CvUtils.getNameForCvItemExtra(this.item) ?? "");
  }

  get allGuids() {
    return this.cv.value.sections.extra
        .map(item => item.guid)
        .filter(guid => this.item.guid !== guid);
  }

  relatedChanged(e: Event, idx: number) {
    const $ref = e.target as HTMLSelectElement;
    const target_guid = $ref.value.trim();
    if (target_guid === "") {
      return;
    }

    const target = CvUtils.getItemForGuid(this.cv.value, target_guid);
    if (target?.guid !== target_guid) {
      throw "target.guid !== target_guid";
    }

    const old_target_guid = this.item.related[idx];
    const old_target = CvUtils.getItemForGuid(this.cv.value, old_target_guid);
    let old_idx = old_target?.related.indexOf(this.item.guid);
    if (old_idx !== undefined && old_idx !== -1) {
      old_target?.related.splice(old_idx, 1);
    }

    if (!this.item.related.includes(target_guid)) {
      this.item.related[idx] = target_guid;
    } else {
      $ref.value = '';
    }

    if (!target?.related.includes(this.item.guid)) {
      target?.related.push(this.item.guid);
    }
  }

  removeRelated(e: Event, idx: number) {
    const $ref = (e.target as HTMLButtonElement).parentElement!.querySelector("select")!;

    const target_guid = $ref.value;
    const target = CvUtils.getItemForGuid(this.cv.value, target_guid);

    if (target && target_guid && target.guid !== target_guid) {
      throw "target.guid !== target_guid";
    }

    this.item.related.splice(idx, 1);
    const targetIdx = target?.related.indexOf(this.item.guid);
    if (targetIdx !== undefined && targetIdx !== -1) {
      target?.related.splice(targetIdx, 1);
    }
  }

  // noinspection JSUnusedGlobalSymbols
  beforeMount() {
    let fieldKey: keyof Fields;
    for (fieldKey in this.meta.fields) {
      if (!Object.prototype.hasOwnProperty.call(this.meta.fields, fieldKey))
        continue;

      const autocompleteUrl = this.meta.fields[fieldKey]?.autocomplete;
      if (autocompleteUrl === undefined)
        continue;

      this.autocompleteUrls[fieldKey] = autocompleteUrl;
      const fieldKeyForClosure = fieldKey;
      watch(this.item.fields[fieldKey]!, _debounce(async () => {
        const url = `${CvItemExtraForm.BASE_URL}${this.autocompleteUrls[fieldKeyForClosure]}`
            .replaceAll(/{(.*?)}/g, (_, field: keyof Fields) => this.item.fields[field]?.value || "");

        const response = await fetch2(url);
        const autocompleteLists = await response.json() as Partial<{ [k in keyof Fields]: string }>[];
        this.autocomplete = autocompleteLists.filter((_, idx) => idx < this.MAX_AUTOCOMPLETE_ITEMS).reduce((acc, fields, idx, arr) => {
          const keys = Object.keys(fields) as (keyof Fields)[];
          const newEntry = keys.reduce((acc2, fieldKey) => ({
            [fieldKey]: {
              [arr[idx][fieldKey]!]: {
                ...keys.filter(key => key !== fieldKey).reduce((acc3, key) => ({
                  [key]: arr[idx][key],
                  ...acc3
                }), Object.create(null))
              }
            },
            ...acc2
          }), Object.create(null));
          return _merge(Object.create(null), acc, newEntry);
        }, Object.create(null)) as AutocompleteType;
      }, 1000), {deep: true});
    }
  }

  fieldValueChanged(fieldKey: keyof Fields) {
    const value = this.item.fields[fieldKey]!.value as string;
    const autocomplete = this.autocomplete[fieldKey]?.[value];
    if (autocomplete !== undefined) {
      let key: keyof Fields;
      for (key in autocomplete) {
        if (!Object.prototype.hasOwnProperty.call(autocomplete, key))
          continue;

        this.item.fields[key]!.value = autocomplete[key]!;
      }
    }

    const input = this.$refs[fieldKey] as HTMLInputElement;
    if (value) {
      const valid = input.validity.valid;
      input.classList.toggle("is-valid", valid);
      input.classList.toggle("is-invalid", !valid);
    } else {
      input.classList.toggle("is-valid", false);
      input.classList.toggle("is-invalid", false);
    }
  }

  mounted() {
    const el = this.$refs['collapse'] as HTMLDivElement;
    el.addEventListener('show.bs.collapse', this.onShow);
    el.addEventListener('hide.bs.collapse', this.onHide);
  }

  // noinspection JSUnusedGlobalSymbols
  beforeUnmount() {
    const el = this.$refs['collapse'] as HTMLDivElement;
    el.removeEventListener('show.bs.collapse', this.onShow);
    el.removeEventListener('hide.bs.collapse', this.onHide);
  }

  onShow() {
    this.collapsed = false;
  }

  onHide() {
    this.collapsed = true;
  }
}
</script>
