<template>
  <div id="nav" class="d-print-none">
    <router-link to="/">Editează CV</router-link>
    |
    <router-link to="/publications">Publicațiile Mele</router-link>
    |
    <router-link to="/print">Printează CV</router-link>
    |
    <router-link to="/import">Import</router-link>
  </div>
  <router-view v-if="state.state === StateEnum.Ready" class="container"></router-view>
  <div v-if="state.state === StateEnum.Loading" class="container">Se încarcă aplicația...</div>
  <div v-if="state.state === StateEnum.Error" class="container">{{ state.err }}</div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {SchemaType} from "@/types/SchemaType";
import SchemaService from "@/services/SchemaService";
import {computed} from 'vue';
import {Cv} from "@/types/Cv/Cv";
import CvService from "@/services/CvService";

@Options({
  provide() {
    return {
      schema: computed(() => this.schema),
      cv: computed(() => this.cv)
    }
  }
})
export default class App extends Vue {
  schema: SchemaType = SchemaService.getEmptySchema();
  cv: Cv = CvService.getEmptyCv();

  schemaService = new SchemaService();
  cvService = new CvService();

  StateEnum = State;

  state: {
    state: State,
    err?: string
  } = {
    state: State.Loading
  };

  // noinspection JSUnusedGlobalSymbols
  async beforeMount() {
    try {
      this.schema = await this.schemaService.ensureSchemaUpToDate();
      this.cv = await this.cvService.load();
      this.state.state = State.Ready;
    } catch (e) {
      this.state.state = State.Error;
      this.state.err = e
    }
  }
}

enum State {
  Loading,
  Error,
  Ready
}
</script>

<style lang="scss">
body {
  position: relative;
}

#app {
  //font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
